.tweet-title {
  display: inline;
  padding: 5px;
}
.username {
  display: inline;
  padding-right: 5px;
}
.image-icon {
  margin-top: 20px;
}

.elips {
  display: inline;
  text-align: right !important;
  width: 25px;
}
