* {
  color: white;
}

h2 {
  text-align: center;
}

.LandingPageContainer {
  background-image: url(https://seeklogo.com/images/T/twitter-2012-positive-logo-916EDF1309-seeklogo.com.png);
  background-color: rgba(29, 161, 242, 1);
  position: absolute;
  background-size: contain;
  z-index: -1;
}

.LandingPageRow {
  width: 100vw;
  position: flex;
}

.LandingPageLeft {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingPageRight {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LandingPageNav {
  background-color: black;
}

.LandingPageLink {
  color: white !important;
}
