.profileHero {
    z-index: 10;
}

.profilePhoto {
    z-index: 20;
    position: absolute;
    top: 55px;
}

.editProfileButton {
    background-color: white;
    color: rgba(29,161,242,1.00);
    border-color: rgba(29,161,242,1.00);
    border-radius: 500px;
}

.editProfileButton:hover {
    background-color:rgb(223, 235, 242);
    color: rgba(29,161,242,1.00);
    border-color: rgba(29,161,242,1.00);
}

.submitButtonForm {
    background-color: rgba(29,161,242,1.00);
    border-color: rgba(29,161,242,1.00);
    color:rgb(223, 235, 242);
    border-radius: 500px;
    font-weight: bold;
    text-decoration: none;
    float:right !important;
    margin-left: auto;
}

.submitButtonForm:hover {
    background-color:rgb(18, 139, 215);
    color: rgb(223, 235, 242);
    border-color: rgba(29,161,242,1.00);
}

.editProfileLink {
    float: right !important;
    margin-left: auto;
    margin-top: 15px;
}

.bioContent {
    /* TODO: Change to padding-top:10px when header image size width is fixed */
    padding-top: 20px;
}

.followLinks b {
    color: black;
}


.closeSettingsModal {
    background-color: white !important;
    border-color: white !important;
    color:  #1DA1F2 ;
    font-weight: 400;
    font-size: 20px;
}

.closeSettingsModal:hover {
    background-color: rgba(18, 139, 215, 0.5) !important;
    border-radius: 115px/50px;;
}